# Nuxt dev/build outputs
.cache
.data
.nuxt
.nitro
.output
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma files
prisma/*.db
prisma/*.db-*
prisma/generated
prisma/data